
.presentation{
    margin-top: 2em;
}


.nav-bar{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #999a;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

.nav__item{
    list-style: none;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
}
.nav__item:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 12px 0px #000a;
}
.focused{
    
    background-color: rgb(255, 255, 255);
}
.item--text{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}